<div class="container" style="display: flex; height: 100vh;">
    <div class="box" style="margin: auto; text-align: center;">
        <p>Lấy cảm hứng và học hỏi từ F8 - Hỏi dân IT</p>
        <p>-- BanhTheCake --</p>
    </div>
</div>