<div class="container pt-4">
  <form autocomplete="off" action="/create/data" method="POST">
  <div class="form-group mb-4">
    <label for="exampleInputEmail1" class="mb-2">Nhập tên video</label>
    <input type="text" class="form-control" name="name" placeholder="something...">
  </div>
  <div class="form-group mb-4">
    <label for="exampleInputEmail1" class="mb-2">Nhập mô tả</label>
    <textarea type="text" class="form-control" name="desc" placeholder="something..." rows="4" style="resize: none;"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1" class="mb-2">Nhập video ID</label>
    <input type="text" class="form-control" name="video_id" placeholder="2dmaGBHslq0...">
  </div>
  <button class="btn btn-success mt-4 px-8" type="submit">Submit</button>
</form>
</div>