<div class="container pt-4">
<h3 class="mb-4">UpLoad multi file -> <a href="/upload-file">Switch to single</a></h3>
<form class="mb-4" action="/upload-file/create/multi" enctype="multipart/form-data" method="post">
  <div class="form-group mb-4">
    <label for="formFile" class="form-label">Chọn File để upload</label>
    <input class="form-control" type="file" id="formFile" name="uploaded_file_multi" multiple>       
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
<div>
  {{#if data}}
  <h3>Ảnh đã upload thành công</h3>
  {{#each data}}
  <img src="/uploads/{{this.filename}}" width="200" height="200" style="background-size: cover;" class="me-4">
  {{/each}}
  {{else}}
  <h3>Chưa có Ảnh nào được Upload :(</h3>
  {{/if}}
</div>
</div>

